<a href="https://colab.research.google.com/github/Ajayay/Hands-on-Pyspark/blob/master/Hands_on_PySpark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 3.8 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=593def07b0cfcb088c7e04618a860ca887b7e843569e0456174b12703dd3e1a2
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [2]:
import pyspark
import pandas as pd

In [3]:
df = pd.read_csv("/content/sample_data/california_housing_test.csv")

In [7]:
from pyspark.sql import SparkSession as ss

In [8]:
spark=ss.builder.appName('Practise').getOrCreate()

In [9]:
spark

In [11]:
df_pyspark = spark.read.csv('/content/sample_data/california_housing_test.csv')
df_pyspark

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string, _c4: string, _c5: string, _c6: string, _c7: string, _c8: string]

In [17]:
df_pyspark = spark.read.option('header','true').csv('/content/sample_data/california_housing_test.csv')

In [18]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [19]:
dfs = df_pyspark